#info {
    background: #404040;
    padding: 10px;    
    color: aliceblue;
    width: 100%;
}

p {
    display: inline-block;
    margin-right: 10px;
}

th,td {
    padding: 5px 10px;
    text-align: left;
}

#bd_brasil {
    width: 50px;
    vertical-align: middle;
}